<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"
    /> -->
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
	<title>Project 2</title>
</head>

<body class="show">
	<header>
		
		<nav>
			
					<a href="/">Home</a>
                   
				<a href="/recipes">Back to Recipes</a>
				
		</nav>
	</header>
	<main class="showMain">
        
		<section>
			<%= recipe.name %>
		</section>
        <section>
            <%= recipe.description %>
        </section>
        <section>
            <%= recipe.ingredients %>
		</section>
        <section>
            <%= recipe.instructions %>
        </section>
        <section>
			<%= recipe.special %>
		</section>
        <section>
			<%= recipe.chef %>
		</section>
    
        <a href="/recipes/<%= recipe._id%>/edit">EDIT</a>
	</main>
</body>

</html>
